{
  "info": {
    "title": "Users mock",
    "version": "0.1.9",
    "description": "Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/) or HTML."
  },
  "tags": [],
  "paths": {
    "/users-mock/list-users": {
      "get": {
        "summary": "Retrieve List Users",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": []
      }
    },
    "/users-mock/create-user": {
      "post": {
        "summary": "Create Create User",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Qap-Users-mockcreate-user"
              }
            }
          },
          "required": true,
          "description": "Create a new Users-mockcreate-user in the store"
        }
      }
    },
    "/users-mock/delete-user": {
      "delete": {
        "summary": "Delete Delete User",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": []
      }
    },
    "/users-mock/update-users": {
      "put": {
        "summary": "Update Update Users",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Qap-Users-mockupdate-users"
              }
            }
          },
          "required": true,
          "description": "Create a new Users-mockupdate-users in the store"
        }
      }
    },
    "/users-mock/user-by-id/{id}": {
      "get": {
        "summary": "Retrieve Id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of id to return"
          }
        ]
      }
    }
  },
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://krakend-gw-local.apps.konneqt.cloud/",
      "description": "KrakenD Gateway"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {
      "Qap-Users-mockcreate-user": {
        "type": "object",
        "properties": {}
      },
      "Qap-Users-mockupdate-users": {
        "type": "object",
        "properties": {}
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}