{
  "info": {
    "title": "Bank pet",
    "version": "0.1.9",
    "description": "Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/) or HTML."
  },
  "tags": [],
  "paths": {
    "/bank-pet/bank-api/list-users": {
      "get": {
        "summary": "Retrieve List Users",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": []
      }
    },
    "/bank-pet/bank-api/user-by-id/{id}": {
      "get": {
        "summary": "Retrieve Id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of id to return"
          }
        ]
      }
    },
    "/bank-pet/swagger-petstore/pet/{petId}": {
      "get": {
        "tags": [
          "pet"
        ],
        "summary": "Find pet by ID",
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "petId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true,
            "description": "ID of pet to return"
          }
        ],
        "description": "Returns a single pet",
        "operationId": "getPetById"
      }
    },
    "/bank-pet/swagger-petstore/store/inventory": {
      "get": {
        "tags": [
          "store"
        ],
        "summary": "Returns pet inventories by status",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            },
            "description": "successful operation"
          }
        },
        "parameters": [],
        "description": "Returns a map of status codes to quantities",
        "operationId": "getInventory"
      }
    }
  },
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://qap-gw-local.apps.konneqt.cloud/",
      "description": "QAP Gateway"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {},
    "requestBodies": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}